<footer class="footer mt-5 py-3">
  <div class="container">
    <div class="row align-items-md-center mb-3">
      <div class="col-md-6 mb-4 mb-md-0">
        <ul class="nav nav-sm nav-white nav-x-sm align-items-center">
          <li class="nav-item">
            <a class="nav-link" href="https://packetprep.com/privacy">Privacy &amp; Policy</a>
          </li>
          <li class="nav-item opacity mx-3">&#47;</li>
          <li class="nav-item">
            <a class="nav-link" href="https://packetprep.com/terms">Terms & Services</a>
          </li>
          <li class="nav-item opacity mx-3">&#47;</li>
          <li class="nav-item">
            <a class="nav-link" href="https://packetprep.com/refund">Refund & Cancellation</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a
              class="btn btn-xs btn-icon btn-soft-light"
              href="https://www.facebook.com/packetprep"
              target="_blank"
            >
              <i class="fab fa-facebook-f fa-lg"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              class="btn btn-xs btn-icon btn-soft-light"
              href="https://www.instagram.com/packetprep"
              target="_blank"
            >
              <i class="fab fa-instagram fa-lg"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              class="btn btn-xs btn-icon btn-soft-light"
              href="/telegram"
            >
              <i class="fab fa-telegram fa-lg"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              class="btn btn-xs btn-icon btn-soft-light"
              href="https://www.youtube.com/packetprep"
              target="_blank"
            >
              <i class="fab fa-youtube fa-lg"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="w-md-75 text-lg-center mx-lg-auto">
      <p class="text-white opacity-sm small">
        &copy; 2021 Quedb Edtech Private Limited. All rights reserved.
      </p>
      <p class="text-white opacity-sm small">
        When you visit or interact with our sites, services or tools, we
        or our authorised service providers may use cookies for storing
        information to help provide you with a better, faster and safer
        experience and for marketing purposes.
      </p>
    </div>

  </div>
</footer>