<div class="container">
    <div class="row mt-5">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-header text-center">
            <li class="fa fa-user-circle-o fa-2x"></li>
            <h5>Login Page</h5>
          </div>
          <div class="card-body text-center">
            <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
              <div class="mb-4">
                  <label for="exampleInputEmail1" class="form-label"
                    > Enter Your UserName</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputUserName"
                    [formControlName]="'username'"
                    required="required"
                  /><small class="err-text" *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
                    Please provide a valid User-Name
                  </small>
                </div>
              <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label"
                  >Enter Your Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  [formControlName]="'password'"
                  required="required"
                /><small class="err-text" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                  Password should be 8 characters long
                </small>
              </div>
              <button type="submit" class="btn btn-success btn-block">Login</button>
              <div class="row mt-3">
                <div class="col">
                  <h6>Create An Account? <a href="sign-up" >Register</a></h6>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
