<div class="container">
    <div class="row mt-5">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-header text-center">
            <li class="fa fa-user-circle-o fa-2x"></li>
            <h5>Create New Batch</h5>
          </div>
          <div class="card-body text-center">
            <form
              class="updateBatchForm"
              [formGroup]="updateBatchForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label">
                  Enter Description</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="inputUserName"
                  [formControlName]="'description'"
                  required="required"
                />
              </div>
              <button type="submit" class="btn btn-success btn-block">
                Update
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  