<div class="container my-5">
  <div class="row justify-content-center align-item-center text-center">
    <div class="col-md-6 mb-5">
      <h2>Student's Present in {{dayName}}</h2>
    </div>
    <div class="row text-center">
      <div class="col-md-4 mb-5 ms-auto">
        
      </div>
      <div class="col-md-4 mb-5 ms-auto text-center">
        <th><button (click)="downloadExcel()" class="btn btn-success mb-2">Download Excel</button></th>
        <input type="text" [(ngModel)]="searchText" placeholder="Search for names.." class="form-control me-2" aria-label="Search" >
      </div>
    </div>
      <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            
            <th scope="col">Role</th>
            <th scope="col">Details</th>
            <th scope="col">Attendance</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of listStudent | searchFilter: searchText">
              <th>{{student.username}}</th>
              <th>{{student.name}}</th>
              <th>{{student.email}}</th>
              
              <th>{{student.role}}</th>
              <th><button (click)="viewStudent(student.username)" class="btn btn-primary">View</button></th>
              <th><button (click)="viewAllDays(student.username)" class="btn" style="background: limegreen; color: white;">Days Present</button></th>
              <!-- <th><button (click)="removeStudent(student.username)" class="btn btn-danger">Remove</button></th> -->
              <th><button type="button" (click)="recordId(student.username)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Remove</button></th>
              <!--  <th><button (click)="viewBlog(blog._id)" class="btn btn-primary">View</button></th>
              <th><button (click)="updateBlog(blog._id)" class="btn btn-info">Update</button></th>
              <th><button (click)="deleteBlog(blog._id)" class="btn btn-danger">Delete</button></th> -->
          </tr>        
        </tbody>
      </table>
       <!-- Modal -->
       <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h5 class="modal-title " id="exampleModalLabel">Remove Student</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h6> This Student Will Remove from this Day..</h6>
              <p>Do You Still Want To Remove This Student ?</p>
            </div>
            <div class="modal-footer">
              <button type="button" (click)="removeStudent(studentName)" class="btn btn-danger">Yes</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
      <!--<th><button (click)="createBlog()" class="btn btn-success">Add Blog</button></th>-->
  </div>
</div>