<div class="container">
    <div class="row mt-5">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-header text-center">
            <li class="fa fa-user-circle-o fa-2x"></li>
            <h5>Forget Password Page</h5>
          </div>
          <div class="card-body text-center">
            <form class="forgetPasswordForm" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" >
              <div class="mb-4">
                  <label for="exampleInputEmail1" class="form-label"
                    > Enter Your UserName</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputUserName"
                    [formControlName]="'username'"
                    required="required"
                  /><small class="err-text" *ngIf="!forgetPasswordForm.get('username').valid && forgetPasswordForm.get('username').touched">
                    Please provide a valid User-Name
                  </small>
                </div>
              
              <button type="submit" class="btn btn-success btn-block">Submit</button>
              
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
