<div class="container mt-5" *ngIf="singleDay">
    <div class="row my-5">
        <h1 class="text-center my-5" >{{singleDay.dayName}}</h1>
        <div class="row">
            <div class="col-lg-6">
                <img class="blog-img-body img-fluid" src="../../assets/images/blog display.jpg">
            </div>
            <div class="col-lg-6">
                <P class="text-start blog-body" >{{singleDay.description}}</P>
            </div>
        </div>
    </div> 
    <div class="row my-5">
        <div class="col-lg-6 text-center">
            
        </div>
        <div class="col-lg-6 text-center">
            <h3 class="" >CreatedBy : {{singleDay.createdBy}}</h3>
        </div>
        <button (click)="viewDayToAddStudent(singleDay.dayName)" class="btn btn-primary">Students</button>
    </div>
</div>
