<div class="container mb-5 justify-content-center align-items-center">
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-md-6 text-center ">
            <div class="card" >
                <div class="card-body">
                  <p class="card-title">Welcome!</p>
                  <img class="image mb-3" src="../../../assets/images/others/acount-activation.png"  alt="Card image cap">
                  <!-- <p class="card-greet">Hi, Debdeep</p> -->
                  <p class="card-text">Thank you for activating your account. We hope that you will love and enjoy our services.<br>We are happy to have you with us.</p>
                  
                  <p class="card-thx">Thanks</p>
                  <p class="card-team">PacketPrep Team</p>
                </div>
            </div>
        </div>

    </div>
</div>
