
.row-main{
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
}
.image{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}
.forget-text h3{
    font-size: 2.5rem;
    font-weight: 300px;
}
.input{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: 15px 8px 29px 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 15px 8px 29px 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 15px 8px 29px 10px rgba(0,0,0,0.3);
}
.btn-submit{
    height: 40px;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background: rgb(56, 223, 112);
    color: white;
}
.btn-submit:hover{
    color: white;
}
.forget{
    text-decoration: none;
    color: cornflowerblue;
}
.forget:hover{
    text-decoration: none;
    color: green;
}