<div class="container">
    <div class="row mt-5">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-header text-center">
            <li class="fa fa-user-circle-o fa-2x"></li>
            <h5>Reset Password Page</h5>
          </div>
          <div class="card-body text-center">
            <form class="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" >
                <div class="mb-4">
                  <label for="exampleInputEmail1" class="form-label"
                    > Enter Your Password</label
                  >
                  
                  <input
                    type="password"
                    class="form-control"
                    id="inputUserName"
                    [formControlName]="'password'"
                    required="required"
                  /><small class="err-text" *ngIf="!resetPasswordForm.get('password').valid && resetPasswordForm.get('password').touched">
                    Please provide a valid Password
                  </small>
                  
                    
                 
                </div>
                <div class="mb-4">
                    <label for="exampleInputEmail1" class="form-label"
                      > Confirm Your Password</label
                    >
                    <div class="input-group">
                        <input
                          type="password"
                          class="form-control"
                          id="inputUserName"
                            [formControlName]="'confirmPassword'"
                            required="required"
                        />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="fa fa-eye-slash fa-2x"></i>
                          </span>
                       </div>
                       <small class="err-text" *ngIf="!resetPasswordForm.get('confirmPassword').valid && resetPasswordForm.get('confirmPassword').touched">
                        Please provide a valid Password
                      </small>
                    </div>
                    
                </div>
                
              <button type="submit" class="btn btn-success btn-block">Submit</button>
              
              
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
