<div class="container">
    <div class="main-body m-5">
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <!-- <div *ngIf=retrievedImage>
                    <img [src]="retrievedImage" alt="Admin" class="rounded-circle" width="150">
                  </div> -->
                  <img [src]="retrievedImage" alt="" class="rounded-circle mt-5" width="80%">
                  <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150"> -->
                  <div class="mt-3">
                    <h4>{{singleUser.username}}</h4>
                    <p class="text-secondary mb-1">{{singleUser.batch}}</p>
                    <p class="text-muted font-size-sm">{{singleUser.role}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Username</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.username}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.name}} {{singleUser.surname}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.email}}
                  </div>
                </div>
                <hr>
                <div *ngIf="singleUser.batch === 'PacketPrep-Team'" class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Company</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.batch}}
                  </div>
                </div>
                <div *ngIf="singleUser.role === 'STUDENT'" class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Batch</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{singleUser.batch}}
                    </div>
                </div>
                <div *ngIf="singleUser.role === 'DEFAULT'" class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Batch</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.batch}}
                  </div>
              </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Role</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.role}}
                  </div>
                </div>
              
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Mobile Number</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.number}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Gender</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.gender}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Date of Birth</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.birthDate}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">College Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.collegeName}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">University</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.university}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">State</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.state}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">City</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.city}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Year Of Passing</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.yearOfPassing}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Status</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.status}}
                  </div>
                </div> <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Graduation Marks</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.graduationMarks}}%
                  </div>
                </div> <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">12th Marks</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.twelfthMarks}}%
                  </div>
                </div> <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">10th Marks</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{singleUser.tenthMarks}}%
                  </div>
                </div>


                <hr *ngIf="singleUser.role === 'STUDENT'" >
                <div *ngIf="singleUser.role === 'STUDENT'" class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Attendance</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userAttendance}}%
                    </div>
                </div>
                <!-- <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Update-Profile</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <button (click)="updateProfile()" class="btn btn-primary">update</button>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>

  </div>
</div>
