<div class="container my-5">
    <div class="row mt-5">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-header text-center">
            <li class="fa fa-user-circle-o fa-2x"></li>
            <h5>Create New Day</h5>
          </div>
          <div class="card-body text-center">
            <form
              class="createDayForm"
              [formGroup]="createDayForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label">
                  Enter DayName</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="inputUserName"
                  [formControlName]="'dayName'"
                  required="required"
                />
              </div>
              <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label">
                  Enter Description</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="inputUserName"
                  [formControlName]="'description'"
                  required="required"
                />
              </div>
              <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label">
                  Enter URL</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="inputUserName"
                  [formControlName]="'url'"
                  required="required"
                />
              </div>
              <div class="mb-4">
                <label for="" class="my-3">Trainer</label>
                <select  name="trainer" [formControlName]="'createdBy'" class="form-control select2-hidden-accessible" data-select2-id="10" tabindex="-1" aria-hidden="true">
                  <option *ngFor="let trainer of trainerList" value={{trainer.name}} data-select2-id="26">{{trainer.name}}</option>
                </select>
              </div>
              <!-- <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label">
                  Enter CreatedBy</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  [formControlName]="'createdBy'"
                  required="required"
                />
              </div> -->
              <button type="submit" class="btn btn-success btn-block">
                Create Day
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  