<div class="d-flex flex-column justify-content-center align-items-center text-center" style="background-color: #d3e4d7;; overflow: hidden;">
  <div class="container ">
    <div class="row justify-content-center ">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center" style="background-color: cornflowerblue; border-radius: 20px;color: white;">
            <i class="fas fa-book-open fa-3x" style="border-radius: 1px;"></i>
            <h5>Create New Session</h5>
          </div>
          <div class="card-body text-center">
            <form
              class="createDayForm"
              [formGroup]="createDayForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="row justify-content-center mb-4">
                <div class="col-md-10">
                  <label for="exampleInputEmail1" class="form-label">
                    Enter Session Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputUserName"
                    [formControlName]="'sessionName'"
                    required="required"
                  />
                </div>
              </div>
              <div class="row justify-content-center mb-4">
                <div class="col-md-10">
                  <label for="exampleInputEmail1" class="form-label">
                    Enter Description</label
                  >
                  <textarea
                    type="text"
                    class="form-control"
                    id="inputUserName"
                    [formControlName]="'description'"
                    required="required"
                    cols="15" rows="10"
                  ></textarea>
                </div>
              </div>
              <div class="row justify-content-center mb-4">
                <div class="col-md-10">
                  <label for="exampleInputEmail1" class="form-label">
                    Enter Topic Name</label
                  >
                  <select name="gender" class="form-control select2-hidden-accessible" data-select2-id="10" tabindex="-1" aria-hidden="true" [formControlName]="'topic'"required="required">
                    <option value="Core Java" data-select2-id="26">Core Java</option>
                    <option value="Advanced Java" data-select2-id="26">Advanced Java</option>
                    <option value="Angular" data-select2-id="26">Angular</option>
                    <option value="Aptitude" data-select2-id="26">Aptitude</option>
                    <option value="Softskills" data-select2-id="26">Softskills</option>
                  </select>
                </div>
              </div>
              <div class="row justify-content-center mb-4">
                <div class="col-md-10">
                  <label for="exampleInputEmail1" class="form-label">
                    Enter URL</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="inputUserName"
                    [formControlName]="'url'"
                    required="required"
                  />
                </div>
              </div>
              <div class="row justify-content-center mb-4">
                <div class="col-md-10">
                  <label for="" class="my-3">Trainer</label>
                  <select  name="trainer" [formControlName]="'createdBy'" class="form-control select2-hidden-accessible" data-select2-id="10" tabindex="-1" aria-hidden="true">
                    <option *ngFor="let trainer of trainerList" value={{trainer.username}} data-select2-id="26">{{trainer.username}}</option>
                  </select>
                </div>
              </div>
              <!-- <div class="row justify-content-center mb-4">
                <div class="col-md-8">

                </div>
                <label for="exampleInputEmail1" class="form-label">
                  Enter CreatedBy</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  [formControlName]="'createdBy'"
                  required="required"
                />
              </div> -->
              <div class="row justify-content-center">
                <div class="col-md-4 ">
                  <button type="submit" class="btn btn-success btn-block" style="border-radius: 30px;">
                    Create Session
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>