<div class="d-flex flex-column justify-content-center align-items-center text-center" style="background-color: #d3e4d7;;min-height: 100vh; overflow: hidden;">
  <div class="container justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center pt-5">
        <h2 class="">Update Default-User-Role Profile</h2>
    </div> 
    <form class="userUpdateForm" [formGroup]="userUpdateForm" (ngSubmit)="onSubmit()">
        <div class="row justify-content-center ">
            <div class="col-md-3 justify-content-center align-items-center border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img [src]="retrievedImage" alt="" class="rounded-circle mt-5 mb-3" width="100%">
                    <span class="font-weight-bold">{{updateUser.name}} {{updateUser.surname}} </span>
                    <span class="text-black-50">{{updateUser.email}} </span>
                    <span>{{updateUser.city}}</span>
                </div>
                <!-- <div class="mt-5 text-center">
                    <label for="exampleInputPassword1" class="form-label"
                      >Upload Image</label
                    >
                    <input type="file" accept="image/*" (change)="onFileChanged($event)"> 
                </div> -->
            </div>
            <div class="col-md-4 mr-4 border-right">
                <div class=" pt-3">
                    
                    <div class="row mt-2">
                        <div class="col-md-6 text-center"><label class="labels">Name</label><input type="text" class="form-control" [formControlName]="'name'"required="required"></div>
                        <div class="col-md-6 text-center"><label class="labels">Surname</label><input type="text" class="form-control" [formControlName]="'surname'"required="required"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 text-center"><label class="labels">User Name</label><input type="text" class="form-control" [formControlName]="'username'"required="required">
                        </div>
                        <div class="col-md-12 text-center"><label class="labels">E-mail Address</label><input type="email" class="form-control" [formControlName]="'email'"required="required">
                        </div>
                        <div class="col-md-12 text-center"><label class="labels">College Name</label><input type="text" class="form-control" [formControlName]="'collegeName'"required="required">
                          
                        </div>
                        <div class="col-md-12 text-center"><label class="labels">Batch</label>
                          <select  name="batch" [formControlName]="'batch'" class="form-control select2-hidden-accessible" data-select2-id="10" tabindex="-1" aria-hidden="true">
                            <option *ngFor="let batch of listBatch" value={{batch.name}} data-select2-id="26">{{batch.name}}</option>
                          </select>
                        </div>
                        
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 text-center"><label class="labels">State</label><input type="text" class="form-control" [formControlName]="'state'"required="required">     </div>
                        <div class="col-md-6 text-center"><label class="labels">City/Region</label><input type="text" class="form-control" [formControlName]="'city'"required="required">  </div>
                        
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4 border-right">
                <div class=" pt-3">
                    <div class="row t-row">
                        
                        <div class="col-md-6 text-center"><label class="labels">Gender</label>
                            <select name="gender" class="form-control select2-hidden-accessible" data-select2-id="10" tabindex="-1" aria-hidden="true" [formControlName]="'gender'"required="required">
                                <option value="MALE" data-select2-id="26">MALE</option>
                                <option value="FEMALE" data-select2-id="26">FEMALE</option>
                                <option value="OTHERS" data-select2-id="26">OTHERS</option>
                            </select>
                        </div>
                        <div class="col-md-6 text-center"><label class="labels">Year of Passing</label>
                            <select name="YOP" class="form-control select2-hidden-accessible" data-select2-id="10" tabindex="-1" aria-hidden="true" [formControlName]="'yearOfPassing'"required="required">
                                <option value="2018" data-select2-id="26">2018</option>
                                <option value="2019" data-select2-id="26">2019</option>
                                <option value="2020" data-select2-id="26">2020</option>
                                <option value="2021" data-select2-id="26">2021</option>
                                <option value="2022" data-select2-id="26">2022</option>
                                <option value="2023" data-select2-id="26">2023</option>
                                <option value="2024" data-select2-id="26">2024</option>
                                <option value="2025" data-select2-id="26">2025</option>
                                <option value="2026" data-select2-id="26">2026</option>
                                <option value="2027" data-select2-id="26">2027</option>
                                <option value="2028" data-select2-id="26">2028</option>
                                <option value="2029" data-select2-id="26">2029</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 text-center"><label class="labels">Mobile Number</label><input type="text" class="form-control" [formControlName]="'number'"required="required">
                                  </div>
                        <div class="col-md-12 text-center"><label class="labels">University</label><input type="text" class="form-control" [formControlName]="'university'"required="required">
                            
                        </div>
                        <div class="col-md-6 text-center"><label class="labels">Graduation </label><input type="text" class="form-control" [formControlName]="'graduationMarks'"required="required">
                            
                        </div>
                        <div class="col-md-6 text-center"><label class="labels">Date of Birth</label><input type="text" class="form-control" [formControlName]="'birthDate'"required="required"></div>
                        <div class="col-md-6 text-center"><label class="labels">Role</label>
                          <select  *ngIf="authService.isLoggedIn() && authService.getUserRole()==='SUPER-ADMIN'" name="role" [formControlName]="'role'" class="form-control select2-hidden-accessible" data-select2-id="10" tabindex="-1" aria-hidden="true">
                            <option value="SUPER-ADMIN" data-select2-id="12">SUPER-ADMIN</option>
                            <option value="ADMIN" data-select2-id="12">ADMIN</option>
                            <option value="TRAINER" data-select2-id="26">TRAINER</option>
                            <option value="STUDENT" data-select2-id="27">STUDENT</option>
                            <option value="DEFAULT" data-select2-id="27">DEFAULT</option>
                          </select>
                        </div>
                        <div class="col-md-6 text-center"><label class="labels">Status</label>
                            <select name="YOP" class="form-control select2-hidden-accessible" data-select2-id="10" tabindex="-1" aria-hidden="true" [formControlName]="'status'"required="required">
                                <option value="Ongoing" data-select2-id="26">Ongoing</option>
                                <option value="Completed" data-select2-id="26">Completed</option>
                                <option value="Placed" data-select2-id="26">Placed</option>
                                <option value="Employee" data-select2-id="26">Employee</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 text-center"><label class="labels">10th Percentage</label><input type="text" class="form-control" [formControlName]="'tenthMarks'"required="required"></div>
                        <div class="col-md-6 text-center"><label class="labels">12th Percentage</label><input type="text" class="form-control" [formControlName]="'twelfthMarks'"required="required">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="mt-5 pb-5 text-center"><button class="btn btn-primary profile-button" type="submit">Update Profile</button></div>
    </form>     
  </div>
</div>

<!-- <div class="container my-5">
    <div class="row mt-5">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-header text-center">
            <li class="fa fa-user-circle-o fa-2x"></li>
            <h5>Default Role User Update Page</h5>
          </div>
          <div class="card-body text-center">
            <form class="userUpdateForm" [formGroup]="userUpdateForm" (ngSubmit)="onSubmit()" >
                <div class="mb-4">
                    <label for="exampleInputEmail1" class="form-label"
                      > Enter Your Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="inputUserName"
                      [formControlName]="'name'"
                      required="required"
                    />
                  </div>
              <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label"
                  > Enter Your Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  [formControlName]="'email'"
                  required="required"
                />
              </div>
             
              <div class="mb-4">
                <label for="" class="my-3">Batch</label>
                <select  name="batch" [formControlName]="'batch'" class="form-control select2-hidden-accessible" data-select2-id="10" tabindex="-1" aria-hidden="true">
                  <option *ngFor="let batch of listBatch" value={{batch.name}} data-select2-id="26">{{batch.name}}</option>
                </select>
              </div>
              <div class="mb-4">
                <label for="" >Role</label>
                <select name="role" [formControlName]="'role'" class="form-control select2-hidden-accessible" data-select2-id="10" tabindex="-1" aria-hidden="true">
                  <option *ngIf="authService.isLoggedIn() && authService.getUserRole()==='SUPER-ADMIN'" value="SUPER-ADMIN" data-select2-id="26">SUPER-ADMIN</option>
                  <option *ngIf="authService.isLoggedIn() && authService.getUserRole()==='SUPER-ADMIN'" value="ADMIN" data-select2-id="26">ADMIN</option>
                  <option *ngIf="authService.isLoggedIn() && authService.getUserRole()==='SUPER-ADMIN'" value="TRAINER" data-select2-id="26">TRAINER</option>
                  <option value="STUDENT" data-select2-id="26">STUDENT</option>
                  <option value="DEFAULT" data-select2-id="26">DEFAULT</option>
                </select>
              </div>
              <button type="submit" class="btn btn-success btn-block">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->