<div class="container mt-5">
    <div class="row">
      <div class="container mb-5 text-center">
        <h1>{{name}} Students</h1>
      </div>
      <div class="row text-center">
        <div class="col-md-4 mb-5 ms-auto">
          <input type="text" [(ngModel)]="searchText" placeholder="Search for names.." class="form-control me-2" aria-label="Search" >
        </div>
      </div>
      <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Details</th>
            <th scope="col">Attendance</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of listStudent | searchFilter: searchText">
              <th>{{student.username}}</th>
              <th>{{student.name}}</th>
              <th>{{student.email}}</th>
              <th>{{student.role}}</th>
              <th><button (click)="viewStudent(student.username)" class="btn btn-primary">View</button></th>
              <th><button (click)="viewAllDays(student.username)" class="btn btn-primary">Days Present</button></th>
              <!-- <th><button (click)="deleteUnverifiedUser(student.id)" class="btn btn-danger">Delete</button></th> -->
              <th><button type="button" (click)="recordId(student.id)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button></th>
         <!--  <th><button (click)="viewBlog(blog._id)" class="btn btn-primary">View</button></th>
              <th><button (click)="updateBlog(blog._id)" class="btn btn-info">Update</button></th>
              <th><button (click)="deleteBlog(blog._id)" class="btn btn-danger">Delete</button></th> -->
          </tr>        
        </tbody>
      </table>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h5 class="modal-title " id="exampleModalLabel">Delete Student</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h6>The Data Of This Student Will Delete Permanently..</h6>
              <p>Do You Still Want To Delete This Student ?</p>
            </div>
            <div class="modal-footer">
              <button type="button" (click)="deleteStudent(studentId)" class="btn btn-danger">Yes</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
      <!--<th><button (click)="createBlog()" class="btn btn-success">Add Blog</button></th>-->
    </div>
</div>