<div class="container" *ngIf="authService.isLoggedIn() && authService.getUserRole()==='SUPER-ADMIN'">
    <div class="row m-5 justify-content-center align-item-center text-center ">
        <div class="col-md-6 ">
            <h1>PacketPrep SUPER-ADMIN</h1>
        </div>
    </div>
      <div class="row m-5">
          <div class="col-md-6">
              <h2>Hello {{userName}}</h2>
          </div>
      </div>
      <div class="row m-5">
        <div class="col-md-4">
            <div class="card" (click)="viewUserList()" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">User-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="viewDefaultRoleUserList()" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Default-Role-User-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="viewBatchList()" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Batch-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <!-- <div class="col-md-3">
            <div class="card" (click)="viewTopic('Softskills')" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Softskills</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div> -->
    </div>
</div>
<div class="container" *ngIf="authService.isLoggedIn() && authService.getUserRole()==='TRAINER'">
    <div class="row m-5 justify-content-center align-item-center text-center ">
        <div class="col-md-6">
            <h1>PacketPrep TRAINER</h1>
        </div>
    </div>
      <div class="row m-5">
          <div class="col-md-6">
              <h2>Hello {{userName}}</h2>
          </div>
      </div>
      <div class="row m-5">
        <!-- <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Backend Java</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div> -->
        <div class="col-md-6">
            <div class="card" (click)="viewDefaultRoleUserList()" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Default-Role-User-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" (click)="viewBatchList()" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Batch-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <!-- <div class="col-md-6">
            <div class="card" (click)="viewTopic('Softskills')" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Softskills</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div> -->
    </div>
</div>
<div class="container" *ngIf="authService.isLoggedIn() && authService.getUserRole()==='ADMIN'">
    <div class="row m-5 justify-content-center align-item-center text-center ">
        <div class="col-md-6 ">
            <h1>PacketPrep ADMIN</h1>
        </div>
    </div>
      <div class="row m-5">
          <div class="col-md-6">
              <h2>Hello {{userName}}</h2>
          </div>
      </div>
      <div class="row m-5">
        <!-- <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Backend Java</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div> -->
        <div class="col-md-6">
            <div class="card" (click)="viewDefaultRoleUserList()" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Default-Role-User-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" (click)="viewBatchList()" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Batch-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <!-- <div class="col-md-3">
            <div class="card" (click)="viewTopic('Softskills')" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Softskills</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div> -->
    </div>
</div>
<div class="container" *ngIf="authService.isLoggedIn() && authService.getUserRole()==='STUDENT'">
    <div class="row m-5 justify-content-center align-item-center text-center ">
        <div class="col-md-6 ">
            <h1>PacketPrep STUDENT</h1>
        </div>
    </div>
      <div class="row m-5">
          <div class="col-md-6">
              <h2>Hello {{userName}}</h2>
          </div>
      </div>
      <div class="row m-5">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Backend Java</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" (click)="viewTopic('Angular')" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Frontend</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" (click)="viewTopic('Aptitute')" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Aptitude</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" (click)="viewTopic('Softskills')" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Softskills</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>  
    </div>
    <div class="row m-5">
        <div class="col-md-4">
            <div class="card" (click)="viewDayListByStudent(authService.getUserName())" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">DayList</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="viewTopic('Softskills')" style="width: 18rem;">
                <div class="card-body text-center">
                  <h5 class="card-title">Softskills</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
    </div>
</div>