<div class="container mb-5" *ngIf="authService.isLoggedIn() && authService.getUserRole()==='SUPER-ADMIN'">
    <div class="row m-5 justify-content-center align-item-center text-center ">
        <div class="col-md-6 ">
            <h1>PacketPrep SUPER-ADMIN</h1>
        </div>
    </div>
    <div class="row m-5">
          <div class="col-md-6">
              <h2>Hello {{userName}},</h2>
          </div>
    </div>
    <div class="row m-5">
        <div class="col-md-4">
            <div class="card" (click)="viewUserList()" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">User-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="viewDefaultRoleUserList()" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Default-Role-User-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="viewBatchList()" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Batch-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="row m-5 justify-content-center align-item-center text-center">
        <div class="col-md-4">
            <div class="card" (click)="viewStudentList()" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Student-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="viewEmployeeList()" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Employee-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="viewDayList()" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Day-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-5" *ngIf="authService.isLoggedIn() && authService.getUserRole()==='TRAINER'">
    <div class="row m-5 justify-content-center align-item-center text-center ">
        <div class="col-md-6">
            <h1>PacketPrep TRAINER</h1>
        </div>
    </div>
      <div class="row m-5">
          <div class="col-md-6">
              <h2>Hello {{userName}},</h2>
          </div>
      </div>
      <div class="row m-5">
        <!-- <div class="col-md-3">
            <div class="card" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Backend Java</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div> -->
        <div class="col-md-3">
            <div class="card" (click)="viewDefaultRoleUserList()" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Default-Role-User-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" (click)="viewBatchList()" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Batch-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" (click)="viewStudentList()" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Student-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" (click)="viewDayList()" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Day-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <!-- <div class="col-md-6">
            <div class="card" (click)="viewDayListByTopic('Softskills')" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Softskills</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div> -->
    </div>
</div>
<div class="container mb-5" *ngIf="authService.isLoggedIn() && authService.getUserRole()==='ADMIN'">
    <div class="row m-5 justify-content-center align-item-center text-center ">
        <div class="col-md-6 ">
            <h1>PacketPrep ADMIN</h1>
        </div>
    </div>
      <div class="row m-5">
          <div class="col-md-6">
              <h2>Hello {{userName}},</h2>
          </div>
      </div>
      <div class="row m-5">
        <!-- <div class="col-md-6">
            <div class="card" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Backend Java</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div> -->
        <div class="col-md-3">
            <div class="card" (click)="viewDefaultRoleUserList()" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Default-Role-User-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" (click)="viewBatchList()" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Batch-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" (click)="viewStudentList()" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Student-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" (click)="viewDayList()" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Day-List</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <!-- <div class="col-md-3">
            <div class="card" (click)="viewTopic('Softskills')" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Softskills</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div> -->
    </div>
</div>
<div class="container mb-5" *ngIf="authService.isLoggedIn() && authService.getUserRole()==='STUDENT'">
    <div class="row m-5 justify-content-center align-item-center text-center ">
        <div class="col-md-6 ">
            <h1>PacketPrep STUDENT</h1>
        </div>
    </div>
      <div class="row m-5">
          <div class="col-md-6">
              <h2>Hello {{userName}},</h2>
          </div>
      </div>
      <div class="row m-5">
        <div class="col-md-4">
            <div class="card" (click)="viewStudentPage()" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Backend Java</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="viewDayListByTopic('Angular')" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Frontend</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="viewDayListByTopic('Aptitute')" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Aptitude</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>  
    </div>
    <div class="row m-5 justify-content-center align-item-center text-center">
        <div class="col-md-4">
            <div class="card" (click)="viewDayListByTopic('Softskills')" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Softskills</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="viewDayListByStudent(authService.getUserName())" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">Day's Attended</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" (click)="viewDayListByBatch(singleUser.batch)" style="width: 18rem; cursor: pointer;">
                <div class="card-body text-center">
                  <h5 class="card-title">DayList</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-5" *ngIf="authService.isLoggedIn() && authService.getUserRole()==='DEFAULT'">
    <div class="row m-5 justify-content-center align-item-center text-center ">
        <div class="col-md-6 ">
            <div class="card-d" >
                <div class="card-body-d">
                  <p class="card-title-d">Hi {{userName}},</p>
                  <img class="image mb-3" src="../../assets/images/others/default-role-user.png"  alt="Card image cap">
                 
                  <p class="card-text-d"><span class="card-text-span">You Are Having A Default User Role.</span><br>Srry, Your Account Is Not Updated By Our Team,
                    We Will Shortly Update It To Student Account.</p>
                  
                  <p class="card-thx">Thanks</p>
                  <p class="card-team">PacketPrep Team</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-5" *ngIf="!authService.isLoggedIn()">
    <div class="container mb-5">
        <div class="row justify-content-center align-items-center d-flex h-100">
            <div class="col-md-6 ">
                <h1 class="p-4" style="font-size: 50px;">Get Trained and build your career with us.</h1> 
                <p class="p-4" style="font-size: 20px;">Full Stack Java Training with pay after placement. Quasi nisi maiores iste velit, vel cupiditate neque sapiente ut animi perferendis!</p> 
                <div class=" col-md-6 text-center">
                    <button type="button" (click)="loginPage()" class="btn m-1 btn-login">Login</button>
                    <button type="button" (click)="registerPage()" class="btn m-1 btn-register">Register</button>
                </div>
            </div>
            <div class="col-md-6 text-center mt-5 ">
                <img  src="../../assets/images/home/bg_image_1.png" class="w-75" alt="">
            </div>
        </div>
    </div>
    <div class="container subjects mt-5">
        <div class="row">
            <div class="col-md-4 mb-2 text-center">
                <div class="card h-100">
                    <img class="card-img-top img-fluid" style="max-height: 60%;" src="../../assets/images/home/core-java.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Core Java</h5>
                      
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mb-2 text-center">
                <div class="card h-100">
                    <img class="card-img-top img-fluid"  src="../../assets/images/home/advanced-java.png" style="background-color: black; max-height: 60%;" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Advanced Java</h5>
                      
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                    </div>
                  </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card h-100">
                    <img class="card-img-top img-fluid" src="../../assets/images/home/angular.png" style="background-color: black;" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Angular</h5>
                      
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>